// Define variable defaults
$body-bg: #fff;
$body-color: #111;

$primary: #84a9e0;
$success: #84d633;

// Then import Bootstrap SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
