
:root {
  --CTc-color: #333;
  --CTc-main-bg: #f3f3f3;
  --CTc-section-bg: #fff;
  --CTc-inlink: #00ff00;
  --CTc-inlink-bg: #3c3c3c;
  --CTc-widget: #007800;
  --CTc-keyboard: #966400;
  --CTc-filename: #3c3cdc;
  --CTc-logo: #00a0ff;
  --CTc-footer: var(--CTc-inlink);
  --CTc-footer-bg: #333;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
	font-family: Helevetica, Verdana, Arial, "Lucida Sans", sans-serif;
	font-size: 16px;
	line-height: 125%;
  background-color: var(--CTc-main-bg);
}

html, body, div, form, table, h1, h2, h3, h4, h5, h6, p, img, main, nav, article, section, figure, aside, header, footer {
	margin: 0;
	padding: 0;
  color: var(--CTc-main-color);
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  font-size: 2.0rem;
  line-height: 120%;
}

header {
  height: 128px;
}

header img {
  display: inline-block;
  vertical-align: middle;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
}

h2 {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1.625rem;
}

h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1rem;
}

h2 a,
h3 a {
  display: inline-block;
  padding: 0 10px;
  color: var(--CTc-color);
  background-color: var(--CTc-section-bg);
  opacity: 20%;
  text-decoration: none;
}

section,
footer {
  clear: both;
  margin: 30px 0;
  padding: 15px 30px;
  background-color: var(--CTc-section-bg);
  border-radius: 12px;
}

footer {
  color: var(--CTc-footer);
  background-color: var(--CTc-footer-bg);
}

footer a {
  color: var(--CTc-inlink);
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  padding-top: 0;
}

i {
  color: var(--CTc-widget);
  font-style: normal;
}

kbd {
  color: var(--CTc-keyboard);
}

a {
	color: var(--CTc-inlink);
	background-color: var(--CTc-inlink-bg);
	text-decoration: none;
	border-radius: 3px;
	padding: 0px 4px;
}

var {
  /* being used to identify code files used by CT */
  color: var(--CTc-filename);
  font-style: normal;
}


.CTContents {
  margin-left: 0;
  padding-left: 0;
}

.CTContents li {
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 12px;
  list-style-type: none;
}

.CTContents a {
	padding: 4px 12px;
	color: var(--CTc-inlink);
	background-color: var(--CTc-inlink-bg);
	border-radius: 5px;
  	text-decoration: none;
}

.CTSubContents li {
  display: inline-block;
}

th, td {
  padding-left: 30px;
  padding-right: 40px;
}
