[submodule "deps/libde265"]
	path = deps/libde265
	url = git@github.com:strukturag/libde265.git
	shallow = true
[submodule "deps/dawn"]
	path = deps/dawn
	url = https://dawn.googlesource.com/dawn
	shallow = true
[submodule "deps/manif"]
	path = deps/manif
	url = https://github.com/artivis/manif.git
	shallow = true
