[submodule "deps/dawn"]
	path = deps/dawn
	url = https://dawn.googlesource.com/dawn
	shallow = true
	branch = chromium/6376
[submodule "deps/manif"]
	path = deps/manif
	url = https://github.com/artivis/manif.git
	shallow = true
	branch = devel
