# Python
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
*.egg-info/
/venv/

# Common IDE's, ideally this should be in global gitignore per user
.vscode/
.idea/
.cache/
cmake-build*/
/build/

# GUI Files
node_modules/
/src/teleop/gui/dist/
/src/teleop/gui/src/static/map
keys.json*
yarn.lock*
yarn-error.log*

# Bag Files
/bags/

# Moteus
moteus-cal*

# CSV
*.csv
