<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mrover_arm">
    <virtual_joint name="" type="fixed" parent_frame="world" child_link="chassis-a" />

    <xacro:property name="PI" value="3.141592" />

    <xacro:macro name="link-visual" params="fileName x y z col r g b roll:=0 pitch:=0 yaw:=0">
        <visual>
            <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}" />
            <geometry>
                <mesh filename="package://mrover/rover_description/arm/${fileName}" />
            </geometry>
            <material name="${col}">
                <color rgba="${r} ${g} ${b} 1" />
            </material>
        </visual>
    </xacro:macro>

    <!-- defines a capsule collision object -->
    <xacro:macro name="link-collision" params="radius x1 y1 z1 x2 y2 z2">
        <xacro:property name="dx" value="${x2-x1}" />
        <xacro:property name="dy" value="${y2-y1}" />
        <xacro:property name="dz" value="${z2-z1}" />
        
        <xacro:property name="mx" value="${x1+dx/2}" />
        <xacro:property name="my" value="${y1+dy/2}" />
        <xacro:property name="mz" value="${z1+dz/2}" />

        <xacro:property name="pi" value="3.1415926" />

        <xacro:if value="${dx != 0}">
            <xacro:property name="length" value="${dx}" />
            <xacro:property name="rpy" value="0 ${pi/2} 0" />
        </xacro:if> 
        <xacro:if value="${dy != 0}">
            <xacro:property name="length" value="${dy}" />
            <xacro:property name="rpy" value="${pi/2} 0 0" />
        </xacro:if>
        <xacro:if value="${dz != 0}">
            <xacro:property name="length" value="${dz}" />
            <xacro:property name="rpy" value="0 0 0" />
        </xacro:if>

        <collision>
            <origin xyz="${x1+dx/2} ${y1+dy/2} ${z1+dz/2}" rpy="${rpy}" />
            <geometry>
                <cylinder radius="${radius}" length="length" />
            </geometry>
        </collision>
        <collision>
            <origin xyz="${x1} ${y1} ${z1}" rpy="0 0 0" />
            <geometry>
                <sphere radius="${radius}" />
            </geometry>
        </collision>
        <collision>
            <origin xyz="${x2} ${y2} ${z2}" rpy="0 0 0" />
            <geometry>
                <sphere radius="${radius}" />
            </geometry>
        </collision>
    </xacro:macro>

    <xacro:macro name="joints" params="name type:=revolute parent child origin_x origin_y origin_z axis_x:=0 axis_y:=0 axis_z:=0 lower upper">
        <joint name="${name}" type="${type}">
            <origin xyz="${origin_x} ${origin_y} ${origin_z}" rpy="0 0 0" />
            <parent link="${parent}" />
            <child link="${child}" />
            <axis xyz="${axis_x} ${axis_y} ${axis_z}" />
            <!-- effort in N-m, velocity in rad/s -->
            <limit lower="${lower}" upper="${upper}" effort="30" velocity="1" />
        </joint>
    </xacro:macro>

    <link name="chassis-a">
        <xacro:link-visual fileName="chassis-a.stl" x="0" y="0" z="0" col="red" r="1" g="0" b="0" />
        <!-- TODO: fill in collision objects for all links -->
        <!-- <xacro:link-collision radius="" x1="" y1="" z1="" x2="" y2="" z2="" />
        <xacro:link-collision radius="" x1="" y1="" z1="" x2="" y2="" z2="" />
        <xacro:link-collision radius="" x1="" y1="" z1="" x2="" y2="" z2="" /> -->
    </link>
    <link name="a-b">
        <xacro:link-visual fileName="a-b.stl" x="0" y="0" z="0" col="orange" r="1" g="0.43" b="0" />
    </link>
    <link name="b-c">
        <xacro:link-visual fileName="b-c-blender.stl" x="0" y="1.5" z="0" col="yellow" r="1" g="1" b="0" roll="0.558505"/>
    </link>
    <!-- <link name="c-d">
        <xacro:link-visual fileName="c-d" x="0" y="${0.5393*scale_factor}" z="${0*scale_factor}" col="green" r="0.43" g="1" b="0" />
    </link>
    <link name="d-e">
        <xacro:link-visual fileName="d-e" x="0" y="${-1*scale_factor}" z="${5*scale_factor}" col="blue" r="0" g="0" b="1" />
    </link>
    <link name="e-f">
        <xacro:link-visual fileName="e-f" x="${1.002*scale_factor}" y="${-2.7240*scale_factor}" z="${-22.6051*scale_factor}" col="violet" r="0.5" g="0" b="1" />
    </link>
    <link name="hand">
        <xacro:link-visual fileName="hand" x="${2.5166*scale_factor}" y="${-2.7226*scale_factor}" z="${-34.3566*scale_factor}" col="pink" r="1" g="0" b="1" />
    </link> -->

    <xacro:joints name="joint_a" type="continuous" parent="chassis-a" child="a-b" origin_x="0" origin_y="0" origin_z="0" axis_z="1" lower="-3.14" upper="3.14" />
    <xacro:joints name="joint_b" parent="a-b" child="b-c" origin_x="0" origin_y="0.03429" origin_z="0.028575" axis_x="1" lower="0.035" upper="1.09" />
    <!-- <xacro:joints name="joint_c" parent="b-c" child="c-d" origin_x="-0.0584" origin_y="0.58039" origin_z="0.009525" axis_x="1" lower="-3.01" upper="2.73" />
    <xacro:joints name="joint_d" parent="c-d" child="d-e" origin_x="-0.044" origin_y="0.05840025" origin_z="0" axis_y="1" lower="-3.14" upper="3.14" />
    <xacro:joints name="joint_e" parent="d-e" child="e-f" origin_x="0.058401009944" origin_y="0.427" origin_z="0" axis_x="1" lower="-2.68" upper="2.68" />
    <xacro:joints name="joint_f" parent="e-f" child="hand" origin_x="0.021" origin_y="0.164741225" origin_z="0" axis_z="1" lower="-3.14" upper="3.14" /> -->
    
</robot>