:root {
    --primary-blue: rgb(63, 99, 166);
    --hover-blue: rgb(79, 119, 192);
    --active-blue: rgb(112, 148, 216);
    --shadow-color: rgba(220, 220, 220, 0.61);
    --accent: rgb(210, 74, 39);
    --red-hover: rgb(187, 65, 35);
    --red-active: rgb(163, 59, 33);
    --green: rgb(96, 150, 74);
    --green-hover: rgb(84, 124, 68);
    --green-active: rgb(70, 104, 56);
    --yellow: rgb(255, 215, 0);
    --disabled: rgb(161, 172, 175);
  }

body {
  min-height: fit-content;
  height: 100vh;
  min-width: fit-content;
  width: 100vw;
  margin: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* A general wrapper class for components */
.wrap {
  font-family: "Arial";
  width: 100%;
  height: 100%;
}

/* A class used to format the header */
.page_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  box-shadow: 0px 10px 8px -4px var(--shadow-color);
}

/* A class to format the component title in the header */
.page_header h1 {
  position: absolute;
  vertical-align: center;
  left: 0px;
  margin-left: 25px;
}

.comm {
  position: absolute;
  left: 85%;
}

/* Use the box class any time you want a rounded box section 
    i.e. components like Cameras inside ERD Task  */
.box, .button {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 15px var(--shadow-color), -2px -2px 15px var(--shadow-color);
}

/* A class to use for any button you create */
.button {
  background-color: var(--primary-blue);
  text-align: center;
  color: white;
  padding: 10px;
  min-width: min-content;
  min-height: min-content;
  
}

.button:hover {
  background-color: var(--hover-blue);
}

.button:active {
  background-color: var(--active-blue);
}

/* Typical colors used throughout the components */

.green {
  background-color: var(--green);
}
.green-no-hover {
  background-color: var(--green);
}

.red {
  background-color: var(--accent);
}
.red-no-hover {
  background-color: var(--accent);
}

.yellow {
  background-color: var(--yellow);
}

.blue {
  background-color: var(--primary-blue);
  color: white;
}

.gray {
  background-color: var(--disabled);
  color: white;
}

.green:hover {
  background-color: var(--green-hover);
}

.green:active {
  background-color: var(--green-active);
}

.red:hover {
  background-color: var(--red-hover);
}

.red:active {
  background-color: var(--red-active);
}
