# A udev rule to create a /dev/fdcanusb symlink.
#
# Install into /etc/udev/rules.d:
#   sudo cp 70-fdcanusb.rules /etc/udev/rules.d
#
# Then run:
#   sudo udevadm control --reload-rules
#   sudo udevadm trigger --subsystem-match=tty

SUBSYSTEM=="tty", ATTRS{manufacturer}=="mjbots", ATTRS{product}=="fdcanusb", MODE="0666", SYMLINK+="fdcanusb"
