<!-- 
  This launch file launches all of the nodes necessary for autonomous navigation.
    
    :arg run_perception: true/false value deciding whether or not to run perception as
                         part of the auton system. Should only be used for testing.
 -->
<launch>
    <arg name="run_perception" default="true"/>

    <!--
      ==========
      Perception
      ==========
    -->
    <!-- node to detect AR tags and publish them to the TF tree -->
    <node if="$(arg run_perception)" name="aruco_detect" pkg="mrover" type="aruco_detect"/>

    <!--
      ===========
      Navigation
      ===========
    -->
    <!-- node to navigate to a series of waypoints, AR tags, and gates -->
    <node name="nav" pkg="mrover" type="navigation.py"/>

  <!--
    ============
    Localization
    ============
  -->
  <rosparam command="load" file="$(find mrover)/config/localization.yaml" />
  <node name="gps_linearization" pkg="mrover" type="gps_linearization.py" output="screen" />

  <!-- plot the rover trajectory in rviz as it drives -->
  <!-- <node name="hectory_trajectory_server" output="screen" pkg="hector_trajectory_server" type="hector_trajectory_server" >
    <param name="target_frame_name" type="string" value="map" />
    <param name="source_frame_name" type="string" value="base_link" /> 
    <param name="trajectory_update_rate" type="double" value="4" /> 
    <param name="trajectory_publish_rate" type="double" value="4" />
  </node> -->
</launch>