<!-- 
    This launch file launches everything necessary to run auton code in the simulator.
 -->
<launch>
    <arg name="rvizconfig" default="$(find mrover)/config/rviz/auton_sim.rviz"/>
    <arg name="world_name" default="world_flat"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

    <!-- launch rover core nodes -->
    <include file="$(find mrover)/launch/rover_core.launch"/>

    <!-- launch the simulator -->
    <include file="$(find mrover)/launch/simulator.launch">
        <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <node pkg="tf" type="static_transform_publisher" name="zed2i_left_camera_frame_publisher"
          args="0 0 0 0 0 0 1 left_camera_link zed2i_left_camera_frame 100"/>

    <!-- launch auton -->
    <include file="$(find mrover)/launch/auton.launch">
        <arg name="sim" value="true"/>
        <arg name="use_ekf" value="true"/>
        <arg name="ekf_start_delay" value="5"/>
    </include>
</launch>
