<!-- 
    This launch file should be run on the basestation in order to interface with and control the rover.
 -->
<launch>
    <!-- TODO: is this necessary? this is already being loaded on the jetson -->
    <rosparam command="load" file="$(find mrover)/config/teleop.yaml" />

    <!-- run the teleop gui by starting the rosbridge server and then launching with a bash script -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"></include>
    <node name="gui" pkg="mrover" type="gui_run.sh" cwd="node" /> 
    <!-- run RViz with the specified config file -->
    <arg name="rvizconfig" default="$(find mrover)/config/rviz/basestation.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
    <node name="topic_services" pkg="mrover" type="topic_services.py"/>
</launch>