<?xml version="1.0"?>

<!-- This is setup to work with MavLink forwarding from qgc -->
<!-- Down the road, will be configured to optionally work with mavproxy/mavlink router for offboard
control -->

<!-- MAVROS -->
<launch>
    <remap from="/mavros/global_position/raw/fix" to="/drone_position" />

    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="udp://:14445@" />
    </include>
</launch>