<launch>
    <rosparam command="load" file="$(find mrover)/config/esw.yaml" />

    <node name="can_driver_0" pkg="mrover" type="can_driver">
        <param name="interface" value="can0" />
    </node>
    <node name="can_driver_1" pkg="mrover" type="can_driver">
        <param name="interface" value="can1" />
    </node>

    <node name="drive_bridge" pkg="mrover" type="drive_bridge" />

    <node name="led" pkg="mrover" type="led" />
    <node name="led_hw_bridge" pkg="mrover" type="led_hw_bridge" />

    <node name="mast_gimbal_bridge" pkg="mrover" type="mast_gimbal_bridge" />
</launch>
