<launch>
    <rosparam command="load" file="$(find mrover)/config/esw.yaml"/>

    <!-- Bridges between ROS and SocketCAN -->
    <node name="can_driver_0" pkg="mrover" type="can_driver"
          respawn="true" respawn_delay="2"
          output="screen">
        <param name="interface" value="can0"/>
    </node>
    <!-- <node name="can_driver_1" pkg="mrover" type="can_driver"
          respawn="true" respawn_delay="2"
          output="screen">
        <param name="interface" value="can1"/>
    </node> -->

    <!-- <node pkg="nodelet" type="nodelet" name="usb_camera_nodelet" respawn="true"
          args="load mrover/UsbCameraNodelet perception_nodelet_manager" output="screen">
    </node> -->
    <!-- <node pkg="nodelet" type="nodelet" name="usb_camera_streamer" respawn="true"
          args="load mrover/NvGstH265EncNodelet perception_nodelet_manager" output="screen">
    </node> -->

    <node name="drive_bridge" pkg="mrover" type="drive_bridge" output="screen"/>

    <!-- Interprets status from navigation and teleoperation to deliver the correct LED mode to the bridge -->
    <node name="led" pkg="mrover" type="led" output="screen"/>
    <!-- This is the STM bridge, not working right now for unknown reasons -->
    <!-- <node name="led_hw_bridge" pkg="mrover" type="led_hw_bridge" /> -->
    <node name="arduino_led_hw_bridge" pkg="mrover" type="arduino_led_hw_bridge.py" output="screen"/>

    <node name="mast_gimbal_bridge" pkg="mrover" type="mast_gimbal_bridge" output="screen"/>
</launch>
