<launch>
    <include file="$(find mrover)/launch/esw_base.launch" />

    <!-- NOTE(quintin): this was failing an assert so I commented it out -->
    <!-- <node name="cache_bridge" pkg="mrover" type="cache_bridge" /> -->
    <node name="sa_hw_bridge" pkg="mrover" type="sa_hw_bridge" />
    <node name="sa_translator_bridge" pkg="mrover" type="sa_translator_bridge" />
    <node name="science_bridge" pkg="mrover" type="science_bridge" />

    <!-- TODO(guthrie): FIGURE OUT HOW TO ADD THE DIRT SENSOR NODE -->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" type="string" value="/dev/ttyACM0" />
        <param name="baud" type="int" value="57600" />
    </node>
</launch>