<launch>
  <arg name="model" default="$(find mrover)/rover_description/rover.urdf" />
  <arg name="gui" default="false" />
  <param name="robot_description" command="xacro $(find mrover)/rover_description/rover.xacro" />
  <arg name="rvizconfig" default="$(find mrover)/config/rviz/default.rviz" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args=" 0 0 0.2 -1.570796327 0 -1.570796327 base_link camera_link 100" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
    <arg name="verbose" default="false" />
    <arg name="gui_required" value="true" />

  </include>
  <node name="mrover_sim_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="  -z 0.0 
                        -urdf -param robot_description
                        -model rover" />
  <node pkg="mapviz" type="mapviz" name="mapviz"></node>
</launch>