<launch>
  <arg name="tag_detector" default="true"/>
  <arg name="object_detector" default="false"/>

  <include file="$(find mrover)/launch/jetson_base.launch"/>

  <include file="$(find mrover)/launch/zed.launch"/>
  <include file="$(find mrover)/launch/long_range_cam.launch"/>

  <include file="$(find mrover)/launch/perception.launch">
    <arg name="tag_detector" value="$(arg tag_detector)"/>
    <arg name="object_detector" value="$(arg object_detector)"/>
  </include>

  <include file="$(find mrover)/launch/navigation.launch"/>
</launch>
