<launch>
    <arg name="run_object_detector" default="true"/>
    <arg name="use_ekf" default="true" />

    <include file="$(find mrover)/launch/jetson_base.launch"/>

    <include file="$(find mrover)/launch/esw_autonomy.launch"/>

    <include file="$(find mrover)/launch/zed.launch"/>
    <include file="$(find mrover)/launch/long_range_cam.launch"/>

    <include file="$(find mrover)/launch/autonomy.launch">
        <arg name="run_object_detector" value="$(arg run_object_detector)"/>
        <arg name="use_ekf" value="$(arg use_ekf)" />
    </include>
</launch>
