<launch>
    <node pkg="nodelet" type="nodelet" name="perception_nodelet_manager" required="true"
          args="manager" output="screen" />

    <include file="$(find mrover)/launch/jetson_base.launch" />
    <include file="$(find mrover)/launch/esw_autonomy.launch" />
    <include file="$(find mrover)/launch/zed.launch" />
    <include file="$(find mrover)/launch/long_range_cam.launch" />
    <include file="$(find mrover)/launch/autonomy.launch" />
</launch>