<launch>
	<arg name="sim" default="false"/>

    <rosparam if="$(arg sim)" command="load" file="$(find mrover)/config/perception/light_detector/light_detector_sim.yaml"/>
    <rosparam unless="$(arg sim)" command="load" file="$(find mrover)/config/perception/light_detector/light_detector_irl.yaml"/>
	
	<node unless="$(arg sim)" pkg="nodelet" type="nodelet" name="perception_nodelet_manager" required="true"
			args="manager" output="screen"/>
	<node 
			pkg="nodelet" 
			type="nodelet" 
			name="light_detector" 
			respawn="true"
			args="load mrover/LightDetector perception_nodelet_manager" 
			output="screen"
	/>

	<node unless="$(arg sim)" pkg="tf" type="static_transform_publisher" name="base_link_publisher2"
        args="0 0 0 0 0 0 map zed_left_camera_frame 100"/>

</launch>
