<launch>
  <rosparam command="load" file="$(find mrover)/config/localization.yaml"/>
  <rosparam command="load" file="$(find mrover)/config/esw.yaml"/>

  <!-- Linearize GPS from geodetic to ENU cartesian coords -->
  <node name="gps_linearization" pkg="mrover" type="gps_linearization.py" output="screen"/>

  <node name="imu_filter" pkg="mrover" type="imu_filter" output="screen"/>
</launch>