<launch>
    <!-- launch rover core processes -->
    <include file="$(find mrover)/launch/rover_core.launch" />

    <!-- launch rviz -->
    <arg name="rvizconfig" default="$(find mrover)/config/rviz/auton_sim.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <!-- GPS + IMU driver nodes and params -->
    <rosparam command="load" file="$(find mrover)/config/esw.yaml" />
    <node name="imu_driver" pkg="mrover" type="imu_driver.py" output="screen" />
    <node name="gps_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver">
        <remap from="fix" to="gps/fix" />
    </node>

    <!-- Reads the GPS topic and convert it to cartesian based on a reference point-->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
        <remap from="gps/fix" to="fix" />
    </node>
</launch>