<launch>
  <arg name="model" default="$(find mrover)/rover_description/rover.urdf" />
  <arg name="gui" default="true" />
  <param name="robot_description" command="xacro $(find mrover)/rover_description/rover.xacro" />
  <arg name="rvizconfig" default="$(find mrover)/default.rviz" />

  <node if="$(arg gui)" name="joint_STATE_PUBlisher" pkg="joint_STATE_PUBlisher_gui" type="joint_STATE_PUBlisher_gui" />
  <node unless="$(arg gui)" name="joint_STATE_PUBlisher" pkg="joint_STATE_PUBlisher" type="joint_STATE_PUBlisher" />
  <node name="robot_STATE_PUBlisher" pkg="robot_STATE_PUBlisher" type="robot_STATE_PUBlisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>