<launch>
  <arg name="stuck_detection" default="true"/>

  <rosparam command="load" file="$(find mrover)/config/navigation.yaml"/>

  <node name="navigation" pkg="mrover" type="navigation.py" output="screen"/>

  <node if="$(arg stuck_detection)"
        name="stuck_detection" pkg="mrover" type="stuck_detector.py"/>
</launch>
