<launch>
    <arg name="rvizconfig" default="$(find mrover)/config/rviz/auton_sim.rviz" />
    <rosparam command="load" file="$(find mrover)/config/simulator/autonomy.yaml" />

    <include file="$(find mrover)/launch/auton.launch">
        <arg name="sim" value="true" />
        <arg name="ekf_start_delay" value="1" />
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <!-- <node pkg="nodelet" type="nodelet" name="simulator_nodelet"
        args="load mrover/SimulatorNodelet nodelet_manager" output="screen" /> -->

    <node name="arm_controller" pkg="mrover" type="arm_controller" output="screen" />
</launch>