<launch>
  <rosparam command="load" file="$(find mrover)/config/simulator/autonomy.yaml"/>
  <include file="$(find mrover)/launch/auton.launch"/>

  <node pkg="nodelet" type="nodelet" name="simulator_nodelet" required="true"
        args="load mrover/SimulatorNodelet perception_nodelet_manager" output="screen"/>
</launch>
