<launch>
  <arg name="cost_map" default="true"/>
  <arg name="tag_detector" default="true"/>
  <arg name="object_detector" default="true"/>

  <node if="$(arg tag_detector)"
        pkg="nodelet" type="nodelet" name="stereo_tag_detector"
        args="load mrover/StereoTagDetectorNodelet perception_nodelet_manager" output="screen"/>

  <node if="$(arg tag_detector)"
        pkg="nodelet" type="nodelet" name="long_range_tag_detector"
        args="load mrover/ImageTagDetectorNodelet perception_nodelet_manager" output="screen">
    <remap from="tag_detection" to="long_range_tag_detection"/>
  </node>

  <node if="$(arg object_detector)"
        pkg="nodelet" type="nodelet" name="object_detector" respawn="true"
        args="load mrover/ObjectDetectorNodelet perception_nodelet_manager" output="screen"/>

  <node if="$(arg cost_map)"
        pkg="nodelet" type="nodelet" name="cost_map"
        args="load mrover/CostMapNodelet perception_nodelet_manager" output="screen"/>
</launch>
