<!-- 
    This launch file runs the core nodes required for most of our other software to run.
 -->
<launch>
    <!-- load our rover's model -->
    <param name="robot_description" command="xacro $(find mrover)/urdf/rover/rover.urdf.xacro" />

    <!-- publish the state of each joint as a transform in the TF tree -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
</launch>