<launch>
  <arg name="headless" default="false"/>
  <arg name="rviz" default="true"/>
  <arg name="object_detector" default="false"/>
  <arg name="cost_map" default="true"/>

  <rosparam command="load" file="$(find mrover)/config/simulator/simulator.yaml"/>

  <node pkg="nodelet" type="nodelet" name="perception_nodelet_manager" required="true"
        args="manager" output="screen"/>

  <include file="$(find mrover)/launch/base.launch"/>

  <include file="$(find mrover)/launch/autonomy.launch">
    <arg name="object_detector" value="$(arg object_detector)"/>
    <arg name="cost_map" value="$(arg cost_map)"/>
  </include>

  <node pkg="nodelet" type="nodelet" name="simulator"
        args="load mrover/SimulatorNodelet perception_nodelet_manager" output="screen">
    <param name="headless" value="$(arg headless)"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="simulator_streamer"
        args="load mrover/GstWebsocketStreamerNodelet perception_nodelet_manager" output="screen">
    <param name="image_topic" value="/tag_detection"/>
  </node>

  <node name="arm_controller" pkg="mrover" type="arm_controller" output="screen"/>

  <group if="$(arg rviz)">
    <arg name="rvizconfig" default="$(find mrover)/config/rviz/auton_sim.rviz"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>
  </group>
</launch>
