<launch>
    <!-- launch rviz -->
    <arg name="rvizconfig" default="$(find mrover)/config/rviz/auton_sim.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <!-- ZED wrapper node -->
    <node name="zed_node" pkg="zed_wrapper" type="zed_wrapper_node" output="screen" required="true">
        <rosparam file="$(find mrover)/config/zed/common.yaml" command="load"/>
        <rosparam file="$(find mrover)/config/zed/zed.yaml" command="load"/>

        <remap to="/camera/color/image_raw" from="/zed_node/rgb/image_rect_color"/>
        <remap to="/camera/depth/points" from="/zed_node/point_cloud/cloud_registered"/>
        <remap to="/camera/color/camera_info" from="/zed_node/rgb/camera_info"/>
    </node>

    <!-- Load ZED URDF -->
    <param name="zed_description_rtabmap" command="$(find xacro)/xacro '$(find zed_wrapper)/urdf/zed_descr.urdf.xacro'
                        camera_name:=zed
                        camera_model:=zed
                        base_frame:=base_link_rtabmap"/>

    <!-- ZED URDF publisher -->
    <node name="zed_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"
          required="true">
        <remap from="robot_description" to="zed_description_rtabmap"/>
    </node>
    
    <node name="stereo_odometry" pkg="rtabmap_ros" type="stereo_odometry" output="screen">
        <remap from="/left/image_rect" to="/zed_node/left/image_rect_color"/>
        <remap from="/left/camera_info" to="/zed_node/left/camera_info"/>
        <!-- swapped to gray to fit the documentation's description of "mono" -->
        <remap from="/right/image_rect" to="/zed_node/right/image_rect_color"/>
        <remap from="/right/camera_info" to="/zed_node/right/camera_info"/>

        <param name="Vis/InlierDistance" type="string" value="0.1"/>
        <param name="Vis/MinInliers" type="string" value="20"/>
        <param name="GFTT/MinDistance" type="string" value="7"/>

        <param name="frame_id" type="string" value="base_link_rtabmap" />
        <param name="odom_frame_id" type="string" value="odom_rtabmap" />

        <param name="publish_tf" type="bool" value="true" />

    </node>

    <!-- launch rover core nodes -->
    <include file="$(find mrover)/launch/rover_core.launch"/>

    <!-- params for hardware interfaces including IMU, GPS, and odrives -->
    <rosparam command="load" file="$(find mrover)/config/esw.yaml"/>

	<!-- IMU and GPS driver nodes -->
	<!-- <node name="imu_driver" pkg="mrover" type="imu_driver.py" output="screen" />
	<node name="gps_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver">
        <remap from="fix" to="gps/fix" />
    </node> -->

    <rosparam command="load" file="$(find mrover)/config/localization.yaml"/>
    <node name="gps_linearization" pkg="mrover" type="gps_linearization.py" output="screen"/>
<!--    <node pkg="rtabmap_ros" type="stereo_odometry" name="stereo_odometry" output="screen">-->
<!--        <remap from="left/image_rect" to="/stereo_camera/left/image_rect"/>-->
<!--        <remap from="right/image_rect" to="/stereo_camera/right/image_rect"/>-->
<!--        <remap from="left/camera_info" to="/stereo_camera/left/camera_info_throttle"/>-->
<!--        <remap from="right/camera_info" to="/stereo_camera/right/camera_info_throttle"/>-->
<!--        <remap from="rgbd_image" to="/stereo_camera/rgbd_image"/>-->
<!--        <remap from="odom" to="/stereo_odometry"/>-->

<!--        <param name="subscribe_rgbd" type="bool" value="true"/>-->
<!--        <param name="frame_id" type="string" value="base_footprint"/>-->
<!--        <param name="odom_frame_id" type="string" value="odom"/>-->

<!--        <param name="Odom/Strategy" type="string" value="0"/> &lt;!&ndash; 0=Frame-to-Map, 1=Frame=to=Frame &ndash;&gt;-->
<!--        <param name="Vis/EstimationType" type="string" value="1"/> &lt;!&ndash; 0=3D->3D 1=3D->2D (PnP) &ndash;&gt;-->
<!--        <param name="Vis/MaxDepth" type="string" value="0"/>-->
<!--        <param name="Odom/GuessMotion" type="string" value="true"/>-->
<!--        <param name="Vis/MinInliers" type="string" value="10"/>-->
<!--        <param name="OdomF2M/BundleAdjustment" type="string" value="0"/>-->
<!--        <param name="OdomF2M/MaxSize" type="string" value="1000"/>-->
<!--        <param name="GFTT/MinDistance" type="string" value="10"/>-->
<!--        <param name="GFTT/QualityLevel" type="string" value="0.00001"/>-->
<!--        <param name="GFTT/QualityLevel" type="string" value="0.00001"/>-->
<!--    </node>-->
</launch>