<launch>
  <!-- 'zed' (ZED 1) or 'zed2i' (ZED 2i) -->
  <arg name="zed_model" default="zed"/>
  <arg name="serial_number" default="-1"/>
  <!-- Use ZED's built-in VO (called positional tracking) -->
  <arg name="use_builtin_visual_odom" default="false"/>

  <rosparam command="load" file="$(find mrover)/config/perception.yaml"/>

  <node pkg="nodelet" type="nodelet" name="zed" respawn="true"
        args="load mrover/ZedNodelet perception_nodelet_manager" output="screen">
    <param name="serial_number" value="$(arg serial_number)"/>
    <param name="use_builtin_visual_odom" value="$(arg use_builtin_visual_odom)"/>
  </node>

  <!-- Static TF publisher for ZED mount-->
  <node pkg="tf" type="static_transform_publisher" name="zed_mount_link_publisher"
        args="0 0 0 0 0 0 base_link zed_mount_link 100"/>

  <!-- Load ZED URDF -->
  <param name="zed_description"
         command="$(find xacro)/xacro '$(find mrover)/urdf/zed/zed_descr.urdf.xacro'
        camera_name:=$(arg zed_model)
        camera_model:=$(arg zed_model)"/>

  <!-- ZED URDF publisher -->
  <node name="zed_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        output="screen"
        required="true">
    <remap from="robot_description" to="zed_description"/>
  </node>
</launch>
