[Unit]
Description=MRover Jetson Raman Spectroscope

[Service]
User=mrover
ExecStart=/usr/bin/socat pty,link=/dev/ttyACM0,waitslave tcp:10.0.0.2:8888
Restart=on-failure

[Install]
WantedBy=multi-user.target