[Unit]
Description=Base Station Video Stream 2

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/mrover/.Xauthority"
EnvironmentFile=/etc/default/rover.env
User={{ running_user }}
ExecStart=/usr/bin/gst-launch-1.0 -v udpsrc port=5002 caps="application/x-rtp, media=(string)video, clock-rate=(int)90000, encoding-name=(string)H264, payload=(int)96" ! rtph264depay ! decodebin ! videoconvert ! autovideosink
Restart=always