[Unit]
Description=Base Station Video Stream 1

[Service]
Environment="DISPLAY=:1"
Environment="XAUTHORITY=/home/mrover/.Xauthority"
User=mrover
ExecStart=/usr/bin/gst-launch-1.0 -v udpsrc port=5001 caps="application/x-rtp, media=(string)video, clock-rate=(int)90000, encoding-name=(string)H264, payload=(int)96" ! rtph264depay ! decodebin ! videoconvert ! autovideosink
Restart=always