[Unit]
Description=Base Station Gstreamer Service 1

[Service]
Environment="DISPLAY=:1"
Environment="XAUTHORITY=/home/mrover/.Xauthority"
User=mrover
ExecStart=/usr/bin/gst-launch-1.0 udpsrc port=5001 ! "application/x-rtp, encoding-name=(string)H264, payload=96" ! rtph264depay ! decodebin ! videoconvert ! autovideosink