<launch>
  <arg name="gui" default="true"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <include file="$(find mrover)/launch/simulator.launch"/>

  <!--
    ==========
    Perception
    ==========
  -->
     <node name="starter_project_perception" pkg="mrover" type="starter_project_perception" />

  <!--
    ===========
    Navigation
    ===========
  -->
    <!-- <node name="nav" pkg="mrover" type="navigation_starter_project.py" />-->

  <!--
    ============
    Localization
    ============
  -->
  <!-- <node name="localization" pkg="mrover" type="localization.py" output="screen" /> -->

</launch>
